<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../css/styles.css">
  <title>advantages</title>
</head>

<body>

  <section class="about__container ">
    <div class="about__section">
      <div class="about__titles">
        <h3 class="about__firs-text">tradition and love</h3>
        <h1 class="about__second-text">HOW IT'S MADE ?</h1>
      </div>
      <div class="about__responsive about__image-resposive">
        <div class="about__images"></div>
        <div class="about__paragraphs ">
          <p class="about__paragraph-first">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
            eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__paragraph-second">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
            placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
          <p class="about__paragraph-second1"> Aliquam erat volutpat. Aenean accumsan.
          </p>
          </p>

          <div class="about__buttons">
            <button class="about__button" type="submit">Read more ></button>
          </div>
        </div>

      </div>



    </div>
  </section>

  <section class="advantages__container">
    <div class="advantages__section">
      <article class="advantages_article">
        <p class="advantages__iconns">
          <svg width="50" height="50">
            <use href=".././images/iconadvantages.svg#icon-frozen1"></use>
          </svg>
        </p>
        <h3 class="advantages__tile advantages--title_1">721</h3>
        <p class="advantages__descriptions advantages__descriptions--1">Aliquam ac dui vel dui vulputate consectetur.
          Mauris massa.</h4>
      </article>


      <article class="advantages_article">
        <p class="advantages__iconns">
          <svg width="50" height="50">
            <use href=".././images/iconadvantages.svg#icon-frozen2"></use>
          </svg>
        </p>
        <h3 class="advantages__tile advantages--title_2">16kg</h3>
        <p class="advantages__descriptions advantages__descriptions--2">Aliquam ac dui vel dui vulputate consectetur.
          Mauris massa.</p>
      </article>
      <article class="advantages_article">
        <p class="advantages__iconns">
          <svg width="44" height="50">
            <use href=".././images/iconadvantages.svg#icon-frozen3"></use>
          </svg>
        </p>
        <h3 class="advantages__tile advantages--title_3">84</h3>
        <p class="advantages__descriptions advantages__descriptions--3">Aliquam ac dui vel dui vulputate consectetur.
          Mauris massa.</p>
      </article>
    </div>
  </section>
</body>

</html>